.container{
  width: 100vw;
  height: 100vh;
  background-color: var(--surface);
  color: var(--content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--intervar-large);
  align-items: center;
}
.container> h6{
  font-size: 3rem;
  width: 70%;
}
.content{
  width: 70%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--interval);
}
.box a {
  text-decoration: none;
  color: var(--content);
  font-size:var(--text-third) ;
}
.box a:hover{
  font-size:var(--text-first) ;
}