@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Galmuri11';
}
:root {
  --surface: #090909;
  --content : #fff;
  --intervar-large : 50px;
  --interval : 30px;
  --interval-secondary : 20px;
  --interval-third : 10px;
  --text-first : 30px;
  --text-second : 25px;
  --text-third : 20px;
  --text-fourth : 15px;
  --text-fifth : 10px;

}

